.text {
  font-size: 2.5em !important;
}
.large {
  font-size: 8em !important;
}

section {
  display: flex;
  min-width: 100%;
  min-height: 30vh;
  overflow-x: auto;
  margin-left: auto;
  margin-right: auto;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@media only screen and (max-width : 480px) {
  .card--content {
    overflow: hidden;
    min-width: 300px;
    margin: 0 5px 0 5px;
    color: #FFFFFF;
    font-size: 1.5em;
    transition: all 0.3s ease;
  }
}
@media only screen and (min-width : 480px) {
  .card--content {
    overflow: hidden;
    min-width: 275px;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    font-size: 2em;
    transition: all 0.3s ease;
  }
}

.modal {
  background-color: #FAFFFA;
}

.card--content:hover {
  box-shadow: 0px 0px 50px 1px rgba(0,0,0,0.75);
}

.types-name {
  margin: 3em auto 0;
}
