<agm-map [latitude]="origin.lat" [longitude]="origin.lng" [zoom]="zoom" [streetViewControl]="streetViewControl" [zoomControl]="false">
  <agm-marker [latitude]="origin.lat" [longitude]="origin.lng" [iconUrl]="iconUrl"></agm-marker>
  <agm-marker [latitude]="destination.lat" [longitude]="destination.lng"></agm-marker>
  <appDirections [origin]="origin" [destination]="destination"></appDirections>
</agm-map>

<div class="fixed-action-btn directions">
  <a class="btn-floating btn-large white modal-trigger tooltipped" data-target="directionsPanelModal"
     data-position="left" data-tooltip="Turn-by-turn navigation"><i class="material-icons">map</i>
  </a>
</div>

<div id="directionsPanelModal" class="modal">
  <div class="modal-content">
    <h4 class="center">Directions</h4>
    <div id="directionsPanel"></div>
  </div>
</div>

