agm-map {
  height: 102%;
}

@media only screen and (max-width : 480px) {
  #directionsPanelModal {
    width: 95vw;
  }
}
.directions {
  margin-bottom: 15px;
}

.explore {
  margin-bottom: 85px;
}

.material-icons {
  color: black;
  opacity: 0.87;
}
