agm-map {
  height: 102%;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@media only screen and (max-width : 480px) {
  .modal {
    width: 95vw;
  }
}
.directions {
  margin-bottom: 15px;
}

.material-icons {
  color: black;
  opacity: 0.87;
}
