.container {
  padding-top: 40px;
}

.rating {
  font-size: 1.5em !important;
}
i.rating {
  font-size: 0.8em !important;
}

.preloader-background {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card-reveal {
  overflow-y: hidden;
}

.btn-large {
  width: 100%;
}
