.brand-logo {
  cursor: pointer;
  font-size: 1.5em;
}

nav, .nav-wrapper, .material-icons {
  height: 9vh;
  line-height: 9vh;
  font-size: 4vh;
}
.content {
  height: 91vh;
}
.material-icons {
  display: inline;
}

a {
  line-height: 100%;
}
