.container {
  background-color: #40AE3D;
  color: #FFFFFF;
  /*box-shadow: 0 5px 5px #888888;*/
  position: relative;
  z-index: 1;
}

.title {
  text-align: center;
}

.back {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
}
