<div class="container">
  <div class="row">
    <div class="col s12">
      <div routerLink="/route-options" class="card-panel waves-effect waves-green center z-depth-2">
        <i class="large material-icons">directions</i>
        <h1 class="text">Directions</h1>
      </div>
    </div>
    <div class="col s12">
      <div routerLink="/place-options" class="card-panel waves-effect waves-green center z-depth-2">
        <i class="large material-icons">explore</i>
        <h1 class="text">Explore</h1>
      </div>
    </div>
  </div>
</div>
