<div class="container" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
  <div class="item" fxFlex="50%">
    <div routerLink="/route" class="button">
      <div class="element">
        <i class="material-icons">local_florist</i>
        <h1>Route</h1>
      </div>
    </div>
  </div>
  <div class="item" fxFlex="50%">
    <div  routerLink="/explore" class="button">
      <div class="element">
        <i class="material-icons">explore</i>
        <h1>Explore</h1>
      </div>
    </div>
  </div>
</div>

