/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.1/css/materialize.min.css');

body {
  font-family: 'Raleway', 'Roboto', sans-serif;
  background-color: #F4FFF4;
}

.container {
  padding-top: 20px;
}

.waves-effect {
  display: block;
}

.card-panel {
  margin: 2em auto 0;
  transition: all 0.3s ease;
}
.card-panel:hover {
  box-shadow: 0px 0px 50px -7px rgba(0,0,0,0.75);
}

.text {
  font-size: 3em;
}
.large {
  font-size: 9em;
}

.card, .card-panel {
  cursor: pointer;
}


section {
  display: flex;
  min-width: 100%;
  min-height: 30vh;
  overflow-x: auto;
  margin-left: auto;
  margin-right: auto;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@media only screen and (max-width : 480px) {
  .card--content {
    overflow: hidden;
    min-width: 300px;
    margin: 0 5px 0 5px;
    color: #FFFFFF;
    font-size: 1.5em;
    transition: all 0.3s ease;
  }
}
@media only screen and (min-width : 480px) {
  .card--content {
    overflow: hidden;
    min-width: 275px;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    font-size: 2em;
    transition: all 0.3s ease;
  }
}

.bottom-sheet {
  background-color: #FAFFFA;
}

.card--content:hover {
  box-shadow: 0px 0px 50px 1px rgba(0,0,0,0.75);
}

.types-name {
  margin: 3em auto 0;
}
