<div class="container">
  <div class="row">
    <div *ngFor="let routeOption of routeOptions" class="col s12 m6">
      <div routerLink="/route/{{routeOption?.travelMode}}" class="card-panel waves-effect waves-green center z-depth-3">
        <div class="center">
          <i class="large material-icons">{{routeOption?.icon}}</i>
          <h1 class="text">{{routeOption?.name}}</h1>
          <div class="divider"></div>
          <h5>{{routeOption.travelTime}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
